html {
  background-color: aliceblue;
}

body {
  margin: 0;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  margin: 20px 12px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 6px;
}

nav ul li a:hover {
  background-color: aliceblue;
}

section {
  margin: 20px;
}

form {
  background-color: white;
}

form input {
  width: 100%;
  margin-bottom: 16px;
}

form input[type="submit"] {
  margin: 0;
  background-color: green;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* tambahkan CSS untuk section profile disini */
.profile-photo img {
  border-radius: 50%;
  border-style: solid;
  border-color: orange;
  width: 200px;
  height: 200px;
}

section #profile{
  position: relative;
  display: flex;
  padding: 20px;
  margin: 20px;
  background-color: white;
}

div .profile-text { 
  margin-left: 40px;
}

.profile-text h1{
  font-size: 1.8rem;
}

.profile-text h2{
  font-size: 1rem;
  color: grey;
}

div button {
  background-color: rgba(255, 255, 255, 0.664);
  padding: 10px 15px;
  border-radius: 10%;
  color: green;
}

div button:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}

div tr {
  font-size: 1.2rem;
  margin-left: 10px;
}

div tr td {
  padding: 6px 12px;
}

table {
  position: absolute;
  top: 120;
  left: 600;
}